@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

ul.code-sample {
  font-family: 'Source Sans Pro', sans-serif;
  & > li span {
    color: rgba(65, 131, 215, 1);
  }
}

.latest-list {
  padding-left: 20px;

  a {
    color: #333;
  }
}
