<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        From the Firehose
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">Pipe sample</h2>
        <p class="blog-post-meta">{{ created | date: "medium" }} by <a href="#">{{'Mark' | lowercase}}</a></p>
                                   <!-- yyyy-MM-dd HH:mm:ss / medium-->    <!-- uppercase / lowercase -->
        <ul class="code-sample">
          <li>
            Date Pipe : new Date(2020, 5, 18, 18, 20, 12)
            <ul>
              <li><span [innerHTML]='innerHTML[0]'></span> : {{ created | date: "medium" }}</li>
              <li><span [innerHTML]='innerHTML[1]'></span> : {{ created | date: "yyyy-MM-dd HH:mm:ss" }}</li>
            </ul>
          </li>
          <li>
            UpperCase/LowerCase Pipe : Mark
            <ul>
              <li><span [innerHTML]='innerHTML[2]'></span> : {{'Mark' | uppercase}}</li>
              <li><span [innerHTML]='innerHTML[3]'></span> : {{'Mark' | lowercase}}</li>
            </ul>
          </li>
          <li>
            CurrencyPipe : 329.456
            <ul>
              <li><span [innerHTML]='innerHTML[4]'></span> : {{ 329.456 | currency }}</li>
              <li><span [innerHTML]='innerHTML[5]'></span> : {{ 329.456 | currency:'USD':'code' }}</li>
              <li><span [innerHTML]='innerHTML[6]'></span> : {{ 329.456 | currency:'TWD':'symbol':'1.0-0' }}</li>
              <li><span [innerHTML]='innerHTML[7]'></span> : {{ 329.456 | currency:'TWD':'code':'4.1-3' }}</li>
            </ul>
          </li>
          <li>
            DecimalPipe : 123.48
            <ul>
              <li><span [innerHTML]='innerHTML[8]'></span> : {{ 123.48 | number:'3.3-4' }}</li>
            </ul>
          </li>
          <li>
            PercentPipe : 0.023829
            <ul>
              <li><span [innerHTML]='innerHTML[9]'></span> : {{ 0.023829 | percent:'1.0-3' }}</li>
              <li><span [innerHTML]='innerHTML[10]'></span> : {{ 0.023829 | percent:'2.2-4' }}</li>
            </ul>
          </li>
        </ul>
        <p>Safe navigation operator : ?.</p>
        <p>
          The item name is: <span [innerHTML]='innerHTML[11]'></span>{{ item?.name }} <br>
          If item is null, the view still renders but the displayed value is blank; you see only "The item name is:" with nothing after it.
        </p>
        <ul>
          <li>
            The item name is {{ item?.name }}
          </li>
        </ul>
      </div><!-- /.blog-post -->

      <div *ngFor="let post of posts" class="blog-post">
        <!-- <h2 class="blog-post-title">{{ post.title }}</h2>
        <p class="blog-post-meta">{{ post.created|date:'longDate' }} by <a href="#" target="_blank">{{ post.author }}</a></p>

        <div [innerHTML]="post.content|nl2br"></div>
        <button type="button" class="btn btn-link">more...</button> -->

        <app-article [post]="post"
          (openLink)="openArticle($event)"
          (updateTitle)="changePostsTitle($event)"
        ></app-article>
      </div><!-- /.blog-post -->

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Latest</h4>
        <ul class="latest-list mb-0">
          <li *ngFor="let post of posts">
            <a href="">{{ post.title }}</a>
            <!-- <a href="">{{ article.title }}</a> -->
          </li>
        </ul>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->
