<ng-container>
  <h2 *ngIf="!isEdit; else editTitleInput"
    class="blog-post-title"
    (click)="editArticleTitle()"
  >
    {{ post.title }}
  </h2>
  <ng-template #editTitleInput>
    <input class="edit-title" type="text" [(ngModel)]="editTitle"
      (keyup.enter)="saveTitle()"
      (keyup.esc)="exitEditTitle()"
    >
  </ng-template>
  <p class="blog-post-meta">{{ post.created|date:'longDate' }} by <a href="#">{{ post.author }}</a></p>

  <div [innerHTML]="post.content|nl2br"></div>
  <button type="button" class="btn btn-link" (click)="clickMore(post.link)">more...</button>
</ng-container>
